<!-- Modified by mina -->
<!-- Post Header -->
<%
// 배경 이미지 동적 설정
let bgImage = '';
if (is_home()) {
  bgImage = config["header-img"];
} else if (is_post()) {
  bgImage = page["header-img"] || config["article-img"];
} else {
  bgImage = page["header-img"] || config["archives-img"];
}
%>

<header class="intro-header" style="background-image: url('<%= bgImage %>');">
  <div id="signature"
       <% if (config.signature) { %>
         style="background-image: url('<%= config.root + config["signature-img"] %>');"
       <% } %>>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% if (is_post()) { %>
            <div class="post-heading">
              <% if (page.tags && page.tags.length) { %>
                <div class="tags">
                  <% page.tags.forEach(function(tag){ %>
                    <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                  <% }) %>
                </div>
              <% } %>
              <h1><%= page.title %></h1>
              <% if (page.subtitle) { %>
                <h2 class="subheading"><%= page.subtitle %></h2>
              <% } %>
            </div>
          <% } else { %>
            <div class="site-heading">
              <h1><%= page.title || config.title %></h1>
              <span class="subheading"><%= page.description || config.subtitle || "" %></span>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div> <!-- end of #signature -->
</header>
